include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SETUP.md
include pyproject.toml
include pytest.ini
recursive-include certica/locales *.json
recursive-include certica *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .git*
